.txt {
    font-family: sans-serif;
    color: palevioletred;
    font-size: 48px;
    left: 750px;
}
.txt:hover {
    transition: .4s;
    color:plum; 
}

.txt2 {
    position: absolute;
    left: 500px;
    color: rgb(255, 86, 114);
    font-size: 64px;
    font-family: 'Courier New', Courier, monospace;
}

.txt2:hover {
    transform: scale(3);
    transition: .4s;
    color: rgb(255, 24, 146);
}
